.main {
  display: flex;
  flex-direction: column;
  place-items: center;
  text-align: left;
}

.contentDiv {
  padding: 30px 10px;
  margin: 0 10px;
  border: solid #fefefe 1px;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px #eeeeee;
  display: flex;
  flex-direction: column;
  place-items: center;
  width: 90vw;
  max-width: 700px;
  position: relative;
}

.content {
  width: 70%;
}

.content > * {
  margin: 20px 0;
}

/* Global */
.activeButton {
  transition: all 250ms ease-in-out;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  border: solid #eeeeee 1px;
  color: #fff;
  background: linear-gradient(90deg, #00a4ff 0%, #0088ff 50%, #00a4ff 100%);
  background-size: 200% 100%;
  background-position: left top;
  cursor: pointer;
  font-size: 16px;
}

.activeButton:hover {
  background-position: right top;
}

/* Login */
.loadingOverlay {
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  place-items: center;
}

/* Admin */
.logoutButton {
  position: absolute;
  font-size: 12px;
  left: 10px;
  top: -40px;
  cursor: pointer;
}

.logoutButton:hover {
  text-decoration: underline;
}

.newFieldDiv {
  display: flex;
  flex-direction: column;
}

.newFieldDiv input {
  padding: 10px;
  margin: 5px 0 20px 0;
  border-radius: 10px;
  border: solid #888888 1px;
}

.shortUrlDiv {
  display: flex;
  flex-direction: row;
}

.shortUrlDiv p {
  margin-top: 15px;
}

.shortUrlDiv input {
  width: 100%;
  margin-left: 5px;
}

/* Success */
.linkArea {
  border: solid #fefefe 1px;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px #eeeeee;
  padding: 10px;
}

.suffixBold {
  font-weight: 500;
}

/* About */

.about {
  margin: 25px 0;
  text-align: center;
}

.link {
  color: #0088ff;
}

.link:hover {
  color: rgb(0, 0, 75);
  background-color: #d7e9ff;
  text-decoration: underline;
}
