.main {
  display: flex;
  flex-direction: column;
  place-items: center;
  text-align: left;
}

.contentDiv {
  padding: 30px 10px;
  margin: 0 10px;
  border: solid #fefefe 1px;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px #eeeeee;
  display: flex;
  flex-direction: column;
  place-items: center;
  width: 90vw;
  max-width: 700px;
  position: relative;
  background-color: #fcfcfc;
}

.content {
  width: 90%;
  max-width: 600px;
}

.content > * {
  margin: 20px 0;
}

/* Global */
.smallText {
  font-size: 12px;
  margin: 10px 0;
}

.activeButton {
  transition: all 100ms ease-in-out;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  border: none;
  color: #fff;
  background: linear-gradient(110deg, #030030 0%, #030030 50%, #00a4ff 50%, #0088ff 100%);
  background-size: 250% 100%;
  background-position: 100% 0%;
  cursor: pointer;
  font-size: 16px;
}

.activeButton:hover {
  filter: brightness(95%);
}

.activeButton:active {
  filter: brightness(90%);
  background-position: 0% 0%;
}

.finalButton {
  transition: all 100ms ease-in-out;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  background-color: #f4f4f4;
}

.finalButton:hover {
  filter: brightness(95%);
}

.finalButton:active {
  filter: brightness(90%);
}

/* Login */
.loadingOverlay {
  background-color: #ffffffe6;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  place-items: center;
}

/* Admin */
.logoutButton {
  position: absolute;
  font-size: 12px;
  left: 10px;
  top: -40px;
  cursor: pointer;
}

.logoutButton:hover {
  text-decoration: underline;
}

.newFieldDiv {
  display: flex;
  flex-direction: column;
}

.newFieldDiv label {
  margin: 20px 0 5px 2px;
  font-weight: 500;
  width: fit-content;
}

.newFieldDiv input {
  font-size: 16px;
  transition: all 250ms ease-in-out;
  padding: 10px;
  margin-top: 5px;
  border-radius: 10px;
  border: solid #eeeeee 1px;
  box-shadow: inset 0 0 7px 0px #88888811;
  background-color: #f9f9f9;
}

.newFieldDiv input:focus {
  background-color: #fff;
  box-shadow: none;
}

.shortUrlDiv {
  display: flex;
  flex-direction: row;
}

.shortUrlDiv p {
  margin-top: 15px;
}

.shortUrlDiv input {
  width: 100%;
  margin-left: 5px;
}

.domain {
  font-size: 18px;
}

.errorMsg {
  background-color: #ffd4d4;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  place-items: center;
}

.errorMsg p {
  margin-left: 10px;
}

/* Success */
.linkArea {
  border: solid #fefefe 1px;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px #eeeeee;
  padding: 10px 12px;
  position: relative;
}

.suffixBold {
  font-weight: 500;
}

.copiedPopup {
  transition: all 100ms ease-in-out;
  font-size: 15px;
  position: absolute;
  top: -50px;
  right: 0;
  width: auto;
  height: auto;
  padding: 10px 15px;
  background-color: #fff;
  border: solid #fefefe 1px;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px #eeeeee;
  transform: scale(0, 0);
  transform-origin: bottom;
}

.copiedPopup::after {
  content: '';
  position: absolute;
  width: 0; 
  height: 0;
  bottom: -14px;
  right: 10px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-top: 7px solid #fff;
}

.copiedPopup.show {
  transform: scale(1, 1);
}

.clipboardIcon {
  position: absolute;
  right: 10px;
  color: #cccccc;
}

.linkArea:hover .clipboardIcon {
  color: #333333;
}

.linkArea:active .clipboardIcon {
  color: #000;
}

/* About */

.credits {
  margin: 25px 0;
  text-align: center;
  font-size: 13px;
  color: rgb(75, 75, 75);
}

.link {
  color: #0088ff;
}

.link:hover {
  color: #004988;
  text-decoration: underline;
}
