.main {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.content {
  padding: 5px;
  margin: 0 10px;
  border: solid rgb(201, 201, 201) 1px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  place-items: center;
  width: 90vw;
  max-width: 600px;
}

.header {
  text-align: center;
  margin-top: 20px;
}

.desc {
  text-align: center;
  margin: 10px 0;
  max-width: 90%;
}

.button {
  background-color: white;
  transition: all 250ms ease-in-out;
  padding: 10px 20px;
  margin: 20px 0;
  border: solid rgb(201, 201, 201) 1px;
  border-radius: 10px;
  text-align: center;
}

.button:hover {
  background-color: rgb(245, 245, 245);
}

.button:active {
  background-color: rgb(235, 235, 235);
}

.inputFields {
  display: flex;
  flex-direction: column;
}

.inputFields input {
  width: 70vw;
  font-size: 16px;
  background-color: white;
  transition: all 250ms ease-in-out;
  padding: 10px 20px;
  margin: 1px 0;
  border: solid rgb(201, 201, 201) 1px;
  border-radius: 10px;
}

/* About */
.about {
  margin: 25px 0;
  text-align: center;
}

.link {
  color: blue;
}

.link:hover {
  color: rgb(0, 0, 75);
  background-color: #d7e9ff;
  text-decoration: underline;
}

