.main {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.fig {
  position: relative;
}

.cap {
  /* background-color: #fff; */
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px 0 10px 0;
  padding: 3px 5px;
}