@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
/* /////////////////////////////////////////////////////////////////////////////
Variables
//////////////////////////////////////////////////////////////////////////////*/
:root {
  
}

/* /////////////////////////////////////////////////////////////////////////////
Reset
//////////////////////////////////////////////////////////////////////////////*/
* {
	font-family: 'Rubik', sans-serif;
}

*:not(input):focus-visible {
  outline: solid 3px rgba(0, 0, 0, 0.2) !important;
  z-index: 100;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, figure, figcaption, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
}

ul {
	list-style: none;
}

blockquote {
	quotes: none;
}
blockquote::before, blockquote::after {
	content: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a img { border: none; }

html {
  box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

a {
	font-style: none;
}

*:focus {
	outline: none;
}

a:link, a:visited, a:hover, a:active {
	text-decoration: none;
}

textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox {
-webkit-appearance: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  vertical-align: middle;
}

/* /////////////////////////////////////////////////////////////////////////////
Defaults
//////////////////////////////////////////////////////////////////////////////*/

/* div */

[preset=shadow] {
  margin: 0 10px;
  
  border: solid #fefefe 1px;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px #eeeeee;
  background-color: #fcfcfc;
}

/* input */
input {
  font-size: 16px;
  transition: all 250ms ease-in-out;
  padding: 10px;
  margin-top: 5px;
  border-radius: 10px;
  border: solid #eeeeee 1px;
  box-shadow: inset 0 0 7px 0px #88888811;
  background-color: #f9f9f9;
  width: 100%;
}

input:focus {
  background-color: #fff;
  box-shadow: none;
	border-color: #ebebeb;
}

/* button */

button {
  transition: all 100ms ease-in-out;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  background-color: #f9f9f9;

	background-size: 250% 100% !important;
  background-position: 100% 0% !important;
}

button:hover {
  filter: brightness(95%);
}

button:active {
  filter: brightness(90%);
	background-position: 0% 0% !important;
}

button[preset=primary] {
	color: #fff;
  background: linear-gradient(110deg, #030030 0%, #030030 50%, #00a4ff 50%, #0088ff 100%);
}

button[preset=success] {
  color: #fff;
  background: linear-gradient(110deg, #003002 0%, #003002 50%, #00c23a 50%, #00a81c 100%);
}

button[preset=destructive] {
	color: #fff;
  background: linear-gradient(110deg, #300000 0%, #300000 50%, #ff3c00 50%, #ff0000 100%);
}

button[preset=tertiary] {
  background-color: #fff;
}

button:disabled {
  cursor: not-allowed;
  filter: brightness(70%) !important;
}

button[preset=tertiary]:disabled, button[preset=secondary]:disabled {
  filter: brightness(90%) !important;
}

/* figure */

figcaption {
  color: #646464;
  font-size: 13px;
}

/* /////////////////////////////////////////////////////////////////////////////
MOBILE
//////////////////////////////////////////////////////////////////////////////*/


/* /////////////////////////////////////////////////////////////////////////////
DESKTOP
//////////////////////////////////////////////////////////////////////////////*/

@media screen and (min-width: 768px)  {

}