.main {
  display: flex;
  flex-direction: column;
  place-items: center;
  text-align: left;
}

.alert {
  background-color: #ff4444;
  color: #fff;
  align-self: stretch;
  text-align: center;
  padding: 10px;
}

.sideSplit {
  display: flex;
  flex-direction: row;
  /* for ham */
  position: relative;
}

.content {
  position: relative;
  width: 90vw;
  height: 100%;
  max-width: 700px;
  padding: 40px 5%;
}

.content > div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* .errorCode {
  font-size: 100px;
} */

/* Login */
.loadingOverlay {
  background-color: #00000077;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 10px;
}

.loadingOverlay svg {
  height: 100%;
  vertical-align: middle;
  align-self: center;
}

/* About */

.credits {
  margin: 25px 0;
  text-align: center;
  font-size: 13px;
  color: rgb(75, 75, 75);
}

.link {
  color: #0088ff;
}

.link:hover {
  color: #004988;
  text-decoration: underline;
}

/* Ham/Nav */

.ham {
  font-size: 30px;
  padding: 10px;
  position: absolute;
  z-index: 10;
  top: -40px;
  right: 10px;
  width: fit-content;
  line-height: 10px;
}

.nav {
  max-height: 1000px;
  transition: all 250ms ease-in-out;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 70px;
  overflow: hidden;
}

.isClose ~ .nav {
  max-height: 0;
}

.navLink svg {
  font-size: 28px;
}


@media screen and (min-width: 768px)  {
  .ham {
    display: none;
  }
  
  .nav {
    max-height: unset !important;
    box-shadow: inset !important;
    position: unset;
  }

  .navLink svg {
    font-size: 20px;
  }
}