.main {
  display: flex;
  flex-direction: column;
  place-items: center;
  text-align: left;
}

.sideSplit {
  display: flex;
  flex-direction: column-reverse;
}

.shadowBox {
  margin: 0 10px;
  padding: 40px 5%;
  border: solid #fefefe 1px;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px #eeeeee;
  position: relative;
  background-color: #fcfcfc;

  width: 90vw;
  max-width: 700px;
}

.content > div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* .errorCode {
  font-size: 100px;
} */

/* Login */
.loadingOverlay {
  background-color: #ffffffe6;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  place-items: center;
  border-radius: 10px;
}

/* About */

.credits {
  margin: 25px 0;
  text-align: center;
  font-size: 13px;
  color: rgb(75, 75, 75);
}

.link {
  color: #0088ff;
}

.link:hover {
  color: #004988;
  text-decoration: underline;
}

@media screen and (min-width: 768px)  {
  .sideSplit {
    flex-direction: row;
  }
}