.code {
  height: 70px;
  display: flex;
  justify-content: left;
  gap: 10px;
  margin: 20px 0;
}

.number {
  width: 60px;
  text-align: center;
  font-size: 35px;

  color: transparent;
  text-shadow: 0px 0px 0px #000;
}

.buttons {
  display: flex;
  gap: 15px;
}

.lock {
  width: 100px;
}