.field {
  display: flex;
  align-items: center;
}

.field label {
  margin: 20px 0 5px 2px;
  font-weight: 500;
}

.field input {
  font-size: 16px;
  transition: all 250ms ease-in-out;
  padding: 10px;
  margin-top: 5px;
  border-radius: 10px;
  border: solid #eeeeee 1px;
  box-shadow: inset 0 0 7px 0px #88888811;
  background-color: #f9f9f9;
  width: 100%;
}

.field input:focus {
  background-color: #fff;
  box-shadow: none;
}