.main {
  display: flex;
  flex-direction: column;
  place-items: center;
  text-align: left;
}

.contentDiv {
  padding: 30px 10px;
  margin: 0 10px;
  border: solid #fefefe 1px;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px #eeeeee;
  display: flex;
  flex-direction: column;
  place-items: center;
  width: 90vw;
  max-width: 700px;
  position: relative;
  background-color: #fcfcfc;
}

.errorCode {
  font-size: 100px;
}