@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
/* /////////////////////////////////////////////////////////////////////////////
Variables
//////////////////////////////////////////////////////////////////////////////*/
:root {
  
}

/* /////////////////////////////////////////////////////////////////////////////
Reset
//////////////////////////////////////////////////////////////////////////////*/
* {
	font-family: 'Rubik', sans-serif;
}

*:not(input):focus-visible {
  outline: solid 3px rgba(0, 0, 0, 0.2) !important;
  z-index: 100;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, figure, figcaption, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
}

ul {
	list-style: none;
}

blockquote {
	quotes: none;
}
blockquote::before, blockquote::after {
	content: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a img { border: none; }

html {
  box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

a {
	font-style: none;
}

*:focus {
	outline: none;
}

a:link, a:visited, a:hover, a:active {
	text-decoration: none;
}

textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox {
-webkit-appearance: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* /////////////////////////////////////////////////////////////////////////////
Defaults
//////////////////////////////////////////////////////////////////////////////*/

/* /////////////////////////////////////////////////////////////////////////////
MOBILE
//////////////////////////////////////////////////////////////////////////////*/


/* /////////////////////////////////////////////////////////////////////////////
DESKTOP
//////////////////////////////////////////////////////////////////////////////*/

@media screen and (min-width: 768px)  {

}